---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Manager System API – Backend Modular en PHP',
    description: 'Este backend forma parte de un sistema administrativo diseñado para gestionar recursos clínicos y administrativos. Desarrollado en PHP puro, con enfoque en buenas prácticas, modularidad y despliegue automatizado mediante Docker.',
    link: {
        url: 'https://github.com/RenzoMedina/manage_system/tree/main/backend',
    }
}, {
    name: 'API Fake User – Simulación de Usuarios en PHP',
    description: 'Este proyecto es una API RESTful básica desarrollada en PHP, diseñada para simular usuarios falsos con datos realistas. Ideal para pruebas, demostraciones o entornos de desarrollo donde se requiere información ficticia pero estructurada.',
    link: {
        url: 'https://github.com/RenzoMedina/ApiFakeUser'
    }
}, {
    name: 'API V0.1 en Go con Echo y MySQL',
    description: 'Este proyecto es una API RESTful desarrollada en Go utilizando el framework Echo y una base de datos MySQL, diseñada como una base modular para servicios web rápidos y escalables.',
    link: {
        url: 'https://github.com/RenzoMedina/api_v0.1_go'
    }
},
    {
    name: 'Store Alberto – Sistema Básico de Almacén en PHP',
    description: 'Este proyecto es una aplicación web básica para la gestión de almacenes, desarrollada en PHP con un enfoque modular y ligero. Está diseñada para cubrir operaciones esenciales de ventas, productos y reportes, ideal como base para sistemas administrativos más complejos.',
    link: {
        url: 'https://uat-store-alberto.rsmedina.site/'
    }
}
];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-2 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
